
@{
    ViewData["Title"] = "Cadastrar Professor";
}

<div class="principal">
    <div class="cadastro">
        <h2>Cadastrar Professor</h2>
        <form action="\Admin\CadastrarProfessor" method="post">
            <table>
                <tr >
                    <td>Nome:</td>
                    <td><input type="text" name="nome" /></td>
                </tr>
                <tr>
                    <td>Sobrenome:</td>
                    <td><input type="text" name="sobrenome" /></td>
                </tr>

                <tr>
                    <td>Turmas:</td>
                </tr>
                @{
                    var listaDeTurmas = ViewBag.turmas;
                    foreach (var item in listaDeTurmas)
                    {
                        <tr><td><input type="checkbox" name="listaDeIdDasTurmas" value="@item.Id" />@item.Serie</td></tr>
                    }
                }
                <tr><td><input type="submit" value="Cadastrar" /></td></tr>
            </table>
        </form>
    </div>

    <div class="lista">
        <h2>Lista de Professores</h2>
        <table border="1">
            <tr aling="center">
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>turmas</td>
                <td colspan="2">Ações</td>
            </tr>
            @{
                var listaDeProfessores = ViewBag.professores;
                foreach (var item in listaDeProfessores)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.Sobrenome</td>
                        <td>
                            @foreach (var ProfessorTurma in @item.Turmas)
                            {
                                @ProfessorTurma.Turma.Serie;<span>,</span>
                            }
                        </td>
                    
                        <td>
                            <form action="#" method="post">
                                <input hidden name="idDoProfessor" value="@item.Id" />
                                <input type="submit" value="Editar" />
                            </form>
                        </td>
                        <td>
                            <form action="\Admin\ExcluirProfessor" method="post">
                                <input hidden name="idDoProfessor" value="@item.Id" />
                                <input type="submit" value="Excluir" />
                            </form>
                        </td>
                    
                    </tr>
                }
            }
        </table>
    </div>
</div>